<table class="w-full text-left">
  <thead>
    <tr class="border-b border-gray-700 text-gray-400 text-sm">
      <th class="pb-2">Nombre</th>
      <th class="pb-2">Email</th>
      <th class="pb-2">Repo</th>
      <th class="pb-2">Stars</th>
    </tr>
  </thead>
  <tbody>
    {{range .}}
    <tr class="border-b border-gray-800 hover:bg-gray-800/50">
      <td class="py-2">{{.Name}}</td>
      <td class="py-2 text-gray-400">{{.StudentEmail}}</td>
      <td class="py-2"><a href="{{.RepoUrl}}" class="text-blue-400 hover:underline">{{.RepoUrl}}</a></td>
      <td class="py-2">{{.Stars}}</td>
    </tr>
    {{else}}
    <tr><td colspan="4" class="py-4 text-gray-500">No hay proyectos registrados.</td></tr>
    {{end}}
  </tbody>
</table>
